@font-face {
  font-family: "Manrope";
  src: url(./manrope/manrope-regular.otf);
}

@font-face {
  font-family: "Inter";
  src: url(./inter/Inter-Regular.otf);
}

.App {
  display: flex;
  flex-direction: column;
}

.card {
  width: 307px;
  margin: 5%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  position: relative;
}

.header {
  display: flex;
  height: 40px;
  background: #dfeeeb;
  border-radius: 14px 14px 0px 0px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: none;
  align-content: center;
  align-items: center;

  margin-top: 4px;
}

.card img {
  width: 18.37px;
  height: 22.56px;
  margin-left: 20px;
  margin-top: 5px;
  font-family: "Marcellus";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  align-items: center;
  color: #000000;
  transform: rotate(20.07deg);
}

.card p {
  position: absolute;
  left: 45px;
  top: 4px;
  bottom: 3px;
  width: 111px;
  height: 33px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  align-items: center;

  color: #3f3f3f;
}

form {
  height: 189px;
  background: rgba(231, 231, 231, 0.51);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0 0 14px 14px;
}

select {
  width: 261px;
  height: 28px;
  background: #ffffff;
  margin: 0 23px;
  border: none;
  border-bottom: 2px solid #c0e9df;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.25);
}

select:first-child {
  margin-top: 18px;
  margin-bottom: 7px;
}

select:nth-child(2) {
  margin-bottom: 8px;
}

.inputAndSpan {
  margin: 0 auto;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #3f3f3f;
  align-content: center;
}
input {
  width: 66px;
  height: 32px;
  border: none;
  margin: 0 8px;
}

button {
  display: flex;
  margin: 16px auto;
  width: 114px;
  height: 40px;
  background: #b8efe5;
  border: 1px solid #bbffef;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.05em;
  color: #3f3f3f;
}

.result {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.result span {
  margin-top: 26px;
  margin-bottom: 11px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #3f3f3f;
}

.result h1 {
  margin: 0 auto;
  margin-bottom: 23px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #3f3f3f;
}
